body {
  background-color: lightgray;
}

.highlight {
  font-family: 'Courier New', Courier, monospace;
  color: red;
}

.education {
  background-color: powderblue;
  font-family: 'Courier New', Courier, monospace;
  color: blue;
  width: 50%;
}

.work {
  background-color: lightgoldenrodyellow;
  font-family: 'Courier New', Courier, monospace;
  color: darkkhaki;
  width: 60%;
}

.skills {
  background-color: lightcoral;
  font-family: 'Courier New', Courier, monospace;
  color: magenta;
  width: 70%;
}